---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import { SITE } from "@consts";
import { postDescription } from "@utils/posts";

export async function getStaticPaths() {
  const posts = (await getCollection("posts"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await render(post);

const description = postDescription(post);
const published = post.data.date.toISOString();
const canonical = new URL(`/posts/${post.id}/`, Astro.site).toString();

const schema = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: post.data.title,
  description,
  datePublished: published,
  dateModified: published,
  url: canonical,
  mainEntityOfPage: canonical,
  image: new URL(SITE.OG_IMAGE, Astro.site).toString(),
  author: { "@type": "Person", name: SITE.AUTHOR, url: Astro.site?.toString() },
  publisher: { "@type": "Person", name: SITE.AUTHOR },
  ...(post.data.tags?.length ? { keywords: post.data.tags.join(", ") } : {}),
};
---

<Layout
  title={post.data.title}
  description={description}
  type="article"
  article={{
    publishedTime: published,
    modifiedTime: published,
    author: SITE.AUTHOR,
    tags: post.data.tags,
  }}
  schema={schema}
>
  <Container>
    <article>
      <h1>{Astro.props.data.title}</h1>
      <time datetime={Astro.props.data.date.toISOString()}>
        {Astro.props.data.date.toISOString().split("T")[0]}
      </time>
      <Content />
    </article>
  </Container>
</Layout>