---
import "@styles/global.scss";
import Container from "@components/Container.astro";
import Header from "@components/Header.astro";
import Head from "@components/Head.astro";
import Footer from "@components/Footer.astro";
const { title, description, image, type, article, schema } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      image={image}
      type={type}
      article={article}
      schema={schema}
    />
  </head>
  <body>
    <Container accent>
      <Header />
    </Container>
    <main>
      <slot />
    </main>
    <Container accent>
      <Footer />
    </Container>
  </body><style lang="scss">
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      flex: 1;
    }
  </style>
</html>
